@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #88c0d0,
	$secondary: color.scale(#4c566a, $whiteness: -10%),
	$surface: #3b4252,
	$background: #2e3440,
	$error: color-palette.$red-700
);

html,
body {
	background-color: #2e3440;
	color: theme.$on-surface;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}
